.navigation .container {
    display: flex;
}

.navigation-site {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
}

.navigation-list-ref.current-page{
    color: var(--accent-color);
}

.contact-list-ref:hover .contact-list-icon,
.contact-list-ref:focus .contact-list-icon {
    fill: var(--accent-color);
}
    

.navigation-list {
    display: flex;
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-ref {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,143;
    letter-spacing: 0.02em;
    color: var(--main-color);

    padding: 32px 0 32px 0;
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.navigation-list-ref.current-page::before {
    content: "";
    position: absolute;
    background: var(--accent-color);
    border-radius: 2px;

    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.contact {
    align-items: center;
    margin-left: auto;
}

.contact-list {
    display: flex;
}

.contact-list-item {
    display: flex;
    justify-content: center;
    align-items: center;

        &:not(:last-child) {
            margin-right: 50px;
        }
}

.contact-list-icon {
    fill: var(--text-color);
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-ref {
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,143;
    letter-spacing: 0.02em;
    color: var(--text-color);
    padding: 32px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.navigation-logo {  
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1,91;
    /* identical to box height */
    letter-spacing: 0.03em;
    margin-right: 93px;

        &-blue {
            color: var(--accent-color);
        }
        &-white {
            color: var(--secondary-color);
        }
        &-black {
            color: var(--main-color);
        }
    }

